* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 800px;
    margin: auto;
    padding: 0 15px;
}

.section {
    margin-bottom: 15px;
}

.section label {
    display: block;
    margin-bottom: 5px;
}

.section input, .section select {
    width: 100%;
    border: 1px solid #bababa;
    padding: 8px 10px;
    border-radius: 5px;
}

form button {
    background-color: #000;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: auto;
}